@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;800&display=swap');
:root{
    --primary: rgb(255, 254, 254);
    --secondary: #000;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    opacity: 0.7;
    z-index: -1;
    
}

.hero-container {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}
.hero-container > h1{
    color: rgb(247, 142, 4);
    font-size: 100px;
    margin-top: 250px;
}
.hero-container > h2{
    color: #fff;
    font-size: 50px;
    
}
.hero-container > p{
    margin-top: 8px;
    color: #fff;
    font-size: 32px;

}
.hero-container span{
    color: rgb(247, 142, 4);
    font-weight: 900;
}


/* media query */
@media only screen and (max-width: 800px){
    .hero-container > h1{
        font-size: 50px;
        margin-top: 250px;
    } 
    .hero-container > h2{
        margin-top: 8px;
        color: #fff;
        font-size: 25px;
    
    }
}
@media only screen and (max-width: 400px){
    .hero-container > h1{
        font-size: 35px;
        margin-top: 150px;
    } 
    .hero-container > h2{
        margin-top: 4px;
        color: #fff;
        font-size: 15px;
    
    }
}
